*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(195, 11, 195);
    padding-bottom:65px;
}#div2{
    margin-left: 120px;
    
}.div{
    padding-top: 10px;
float: left;
}#div1{
    padding-left: 80px;
}#div3{
    margin-left: 120px;
}#div4{
    margin-left: 120px;
}#div5{
    margin-left: 120px;
}body{
    background-color: rgb(252, 196, 232);
    
}
#hb{
    text-align: center;
}img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;

}section{
    column-gap: 10px;
    column-count: 4;
    margin-left: 10px;
    margin-right: 10px;
}p{
    text-align: center;
    margin-bottom: 10px;
}@media screen and (max-width:800px){
    .col1{width: 10%;}
.col2{width: 20%;}
.col3{width: 30%;}
.col4{width: 40%;}
.col5{width: 50%;}
.col6{width: 60%;}
.col7{width: 70%;}
.col8{width: 80%;}
.col9{width: 90%;}
.col10{width: 100%;}
header{
    width:80%;
    align-text:center;
    column-count: 1;
}section{
    column-gap: 10px;
    column-count: 2;
    margin-left: 10px;
    margin-right: 10px;
#div1{
    margin-left: 40px;
}
    }
    


